{% extends "../base.html" %}
{% load static %}
{% block title %}Aviblog - Lets talk Aviation{% endblock %}
{% block content%}
    <main>
        <article>
            {% if request.user.is_authenticated %} 
            Hello {{ request.user.first_name|default:request.user.username }}, 
            <form action="{% url "aviblog:logout" %}" method="post"> 
                <button type="submit">Logout</button> 
                {% csrf_token %} 
            </form> 
            {% else %}
            <a href="{% url "aviblog:login" %}">Log-in</a> 
            {% endif %}
            <section class="section hero" id="home">
                <div class="container">

                <div class="hero-content">
                    <h2 class="h1 hero-title"><strong>Aviblog </strong>A charter plane Hiring company</h2>

                    <p class="hero-text">
                    Get a plane on the go.
                    </p>
                </div>

                <form method="POST" action="{% url 'aviblog:search' %}"> 
                    {% csrf_token %}
                    <input type="search" placeholder="Search" name="Search" id="Search" aria-label="Search">
                    <button href="{% url 'aviblog:search'%}" type="submit">Search</button>
                </form>

                </div>
            </section>
            <section class="about container" id="about">
                <div class="contentBx">
                    <h2 class="titleText">Catch up with the trending topics</h2>
                    <p class="title-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos consequuntur voluptate dolorum totam provident ducimus cupiditate dolore doloribus repellat. Saepe ad fugit similique quis quam. Odio suscipit incidunt distinctio.
                        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis libero pariatur ipsum suscipit voluptates aut, repellendus quos dolor autem, natus laboriosam consectetur maxime cumque, sunt magni optio? Veritatis, ea?
                    </p>
                    <a href="#" class="btn2">Read more</a>
                </div>
                <div class="imgBx">
                    <img src="images/about.png" alt="" class="fitBg">
                </div>
            </section>
            <section>
                <div class="post-filter container">
                    <span class="filter-item active-filter" data-filter="all">All</span>
                    <span class="filter-item" data-filter="tech">Tech</span>
                    <span class="filter-item" data-filter="food">Food</span>
                    <span class="filter-item" data-filter="news">News</span>
                </div>
            </section>
            <section>
                <div class="nav-right">
                  <a href="{% url 'aviblog:post_new' %}">Add Blog Post</a>
                </div>
                {% if tag %} 
                  <h2>Posts tagged with "{{ tag.name }}"</h2> 
                {% endif %}
                <div class="post container">
                    <!-- Post 1 -->
                    {% for post in posts %}
                        <div class="post-box tech">
                            <img src="images/img1.jpg" alt="" class="post-img">
                            <h2 class="category">
                              {% for tag in post.tags.all %}
                                <a href="{% url "aviblog:post_list_by_tag" tag.slug %}"> {{ tag.name }} </a>
                                {% if not forloop.last %}, 
                                {% endif %} 
                              {% endfor %}
                            </h2>
                            <a href="{{ post.get_absolute_url }}" class="post-title">
                              {{ post.title }}
                            </a>
                            <span class="post-date">{{ post.publish }}</span>
                            <p class="post-description">
                              {{ post.body|truncatewords:30|linebreaks }}
                            </p>
                            <div class="profile">
                                <img src="images/testi1.jpg" alt="" class="profile-img">
                                <span class="profile-name">{{ post.author }}</span>
                            </div>
                            <p>Delete Post<a href="{% url 'aviblog:delete' post_id=post.id%}"> Delete</a>        
                        </div>
                    {% endfor %}
                </div>
            </section>
        </article>
    </main>
{% endblock %}