<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Syahrizaldev"><link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<main class="main">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div id="errorMsg">{{message}}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
	<div class="container">
		<section class="wrapper">
			<div class="heading">
				<h1 class="text text-large">Sign Up</h1>
				<p class="text text-normal">Already Have an Account? 
                    <span><a href="{% url 'aviblog:login' %}" class="text text-links">Login</a></span>
				</p>
			</div>
			<form name="login" id="user-form" name="LoginForm" class="form" action="{% url 'aviblog:register' %}" method='post'>
                {% csrf_token %}
                
                <div class="input-control">
					<label for="username" class="input-label" hidden>Username</label>
					<input type="username" name="username" autofocus id="id_username" class="input-field" required placeholder="Username">
				</div>
				<div class="input-control">
					<label for="email" class="input-label" hidden>Email Address</label>
					<input type="email" id="id_email" name="email" class="input-field" placeholder="Email Address">
				</div>
				<div class="input-control">
					<label for="password" class="input-label" hidden>Password</label>
					<input type="password" name="password" id="id_password" class="input-field" required placeholder="Password">
				</div>
				<div class="input-control">
					<label for="file" class="input-label" hidden>Profile Picture</label>
					<input type="file" name="profile" id="id_profile_picture" class="input-field" placeholder="Profile Picture">
				</div>
				<div class="input-control">
					{% comment %} <a href="#" class="text text-links">Forgot Password</a> {% endcomment %}
					<input type="submit" name="submit" class="input-submit" value="Sign Up">
				</div>
			</form>
			<div class="striped">
				<span class="striped-line"></span>
				<span class="striped-text">Or</span>
				<span class="striped-line"></span>
			</div>
			<div class="method">
				<div class="method-control">
					<a href="#" class="method-action">
						<i class="ion ion-logo-google"></i>
						<span>Sign Up with Google</span>
					</a>
				</div>
				<div class="method-control">
					<a href="#" class="method-action">
						<i class="ion ion-logo-facebook"></i>
						<span></i>Sign Up with Facebook</span>
					</a>
				</div>
				<div class="method-control">
					<a href="#" class="method-action">
						<i class="ion ion-logo-apple"></i>
						<span></i>Sign Up with Apple</span>
					</a>
				</div>
			</div>
		</section>
	</div>
</main>
</body>
</html>